<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"/>
	<script th:inline="javascript">
		/*<![CDATA[*/
		let stompClient = null;
		const username = /*[[${#authentication.name}]]*/ '';

		function connect() {
			const socket = new SockJS('/ws');
			stompClient = Stomp.over(socket);
			stompClient.connect({}, function (frame) {
				console.log('Connected: ' + frame);
				stompClient.subscribe('/user/' + username + '/notifications', function (notification) {
					// showMessage(JSON.parse(notification.body));
					console.log(JSON.parse(notification.body).sender);
					showMessage(JSON.parse(notification.body));
				});
				if (username !== 'admin') {
					stompClient.subscribe('/topic/notifications', function (notification) {
						// showMessage(JSON.parse(notification.body));
						console.log(JSON.parse(notification.body).sender);
						showMessage(JSON.parse(notification.body));
					});
				}
			});
		}

		// function showMessage(notification) {
		// 	var notificationsContainer = document.getElementById("notifications");
		// 	var notificationElement = document.createElement("div");
		// 	notificationElement.classList.add("list-group-item");
		// 	notificationElement.innerHTML = '<h6 class="mb-1">' + notification.sender + '</h6>' +
		// 			'<p class="mb-1">' + notification.message + '</p>' +
		// 			'<small>' + notification.createdAt + '</small>';
		// 	notificationsContainer.appendChild(notificationElement);
		// }

		function showMessage(notification) {
			iziToast.show({
				title: notification.sender,
				message: notification.message,
				position: 'topRight',
				timeout: 5000, // 5 seconds
				color: 'green' // Custom color or leave it as is
			});
		}

		// send message public
		function sendMessage() {
			const message = document.getElementById('message').value;
			stompClient.send("/app/notifications", {}, JSON.stringify({
				sender: username,
				message: message,
				createdAt: new Date().toISOString()
			}));
		}


		document.addEventListener('DOMContentLoaded', function () {
			connect();
		});
		/*]]>*/
	</script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">RealTime App 👱🏻 <span class="badge rounded-pill text-bg-info text-light" th:text="${#authentication.name}"></span></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				<li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
					<a class="nav-link" href="/tasks">tasks</a>
				</li>
			</ul>

			<ul class="navbar-nav">
				<li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
					<a class="nav-link" href="/signout">Sign Out</a>
				</li>
				<li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
					<a class="nav-link" href="/signin">Sign In</a>
				</li>
				<li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
					<a class="nav-link" href="/signup">Sign Up</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<h2>Welcome to the Chat App!</h2>
<p>Hello, <span th:text="${#authentication.name}"></span>! You are now logged in.</p>

<div class="container mt-5">
	<h2>Notifications</h2>
	<div class="list-group mt-3" id="notifications">
		<div th:each="notification : ${notifications}" class="list-group-item">
			<h6 class="mb-1" th:text="${notification.sender}"></h6>
			<p class="mb-1" th:text="${notification.message}"></p>
			<small th:text="${notification.createdAt}"></small>
		</div>
		<!-- If no notifications -->
		<div th:if="${#lists.isEmpty(notifications)}" class="list-group-item">
			No notifications.
		</div>
	</div>

	<div class="mt-3" th:if="${#authentication.name eq 'admin'}">
		<div class="input-group">
			<input type="text" id="message" class="form-control" placeholder="Type a message...">
			<button class="btn btn-primary" id="sendBtn" onclick="sendMessage()">Send</button>
		</div>
	</div>
</div>


</body>
</html>
