<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="d-flex align-items-center justify-content-center py-4 bg-body-tertiary h-full">
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--	<div class="container-fluid">-->
<!--		<a class="navbar-brand" href="/">RealTime App 👱🏻 <span class="badge rounded-pill text-bg-info text-light" th:text="${#authentication.name}"></span></a>-->
<!--		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"-->
<!--		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--			<span class="navbar-toggler-icon"></span>-->
<!--		</button>-->
<!--		<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--			<ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link active" aria-current="page" href="/">Home</a>-->
<!--				</li>-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link" href="#">About</a>-->
<!--				</li>-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link" href="#">Contact</a>-->
<!--				</li>-->
<!--			</ul>-->
<!--			&lt;!&ndash; Conditionally render sign-in, sign-up, and sign-out links &ndash;&gt;-->
<!--			<ul class="navbar-nav">-->
<!--				<li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--					<a class="nav-link" href="/signout">Sign Out</a>-->
<!--				</li>-->
<!--				<li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">-->
<!--					<a class="nav-link" href="/signin">Sign In</a>-->
<!--				</li>-->
<!--				<li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">-->
<!--					<a class="nav-link" href="/signup">Sign Up</a>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</div>-->
<!--	</div>-->
<!--</nav>-->

<!--<h2>Login</h2>-->
<!--<form th:action="@{/signin}" method="post">-->
<!--	<div>-->
<!--		<label for="username">username: </label>-->
<!--		<input type="text" name="username" id="username" required autofocus>-->
<!--	</div>-->
<!--	<div>-->
<!--		<label for="password">Password:</label>-->
<!--		<input type="password" id="password" name="password" required>-->
<!--	</div>-->
<!--	<button type="submit">Login</button>-->
<!--</form>-->
<main class="form-signin w-50 m-auto">
	<form th:action="@{/signin}" method="post">
		<!--		<img class="mb-4" src="https://images.unsplash.com/photo-1584985429926-08867327d3a6?q=80&w=1288&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" width="72" height="57">-->
		<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

		<div class="form-floating">
			<input type="text" class="form-control" placeholder="name@example.com" name="username" id="username"
			       required autofocus>
			<label for="username">username: </label>
		</div>
		<div class="form-floating">
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
			<label for="password">Password:</label>
		</div>

		<div class="form-check text-start my-3">
			<input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				Remember me
			</label>
		</div>
		<button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
		<p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
	</form>
</main>
</body>
</html>
