<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Tasks</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"/>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var stompClient = null;
		var username = /*[[${#authentication.name}]]*/ '';

		function connect() {
			var socket = new SockJS('/ws');
			stompClient = Stomp.over(socket);
			stompClient.connect({}, function (frame) {
				console.log('Connected: ' + frame);
				stompClient.subscribe('/user/' + username + '/notifications', function (notification) {
					// showMessage(JSON.parse(notification.body));
					showMessage(JSON.parse(notification.body));
				});
				stompClient.subscribe('/topic/notifications', function (notification) {
					// showMessage(JSON.parse(notification.body));
					console.log(JSON.parse(notification.body).sender);
					showMessage(JSON.parse(notification.body));
				});
			});
		}

		// function showMessage(notification) {
		// 	var notificationsContainer = document.getElementById("notifications");
		// 	var notificationElement = document.createElement("div");
		// 	notificationElement.classList.add("list-group-item");
		// 	notificationElement.innerHTML = '<h6 class="mb-1">' + notification.sender + '</h6>' +
		// 			'<p class="mb-1">' + notification.message + '</p>' +
		// 			'<small>' + notification.createdAt + '</small>';
		// 	notificationsContainer.appendChild(notificationElement);
		// }

		function showMessage(notification) {
        iziToast.show({
            title: notification.sender,
            message: notification.message,
            position: 'topRight',
            timeout: 5000, // 5 seconds
            color: 'green' // Custom color or leave it as is
        });
    }

		document.addEventListener('DOMContentLoaded', function () {
			connect();
		});
		/*]]>*/
	</script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">RealTime App 👱🏻 <span class="badge rounded-pill text-bg-info text-light" th:text="${#authentication.name}"></span></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				<li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="/tasks">tasks</a>
                </li>
			</ul>

			<div class="d-flex">
				<span th:text="${#authentication.name}"></span>
			</div>

			<ul class="navbar-nav">
				<li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
					<a class="nav-link" href="/signout">Sign Out</a>
				</li>
				<li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
					<a class="nav-link" href="/signin">Sign In</a>
				</li>
				<li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
					<a class="nav-link" href="/signup">Sign Up</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<h2>Tasks</h2>
	<a href="/tasks/create" class="btn btn-success">New Task</a>
	<table class="table">
		<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Assigned To</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="task : ${tasks}">
			<td th:text="${task.title}"></td>
			<td th:text="${task.description}"></td>
			<td th:text="${task.user.username}"></td>
		</tr>
		<tr th:if="${#lists.isEmpty(tasks)}">
			<td colspan="3">No tasks found</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>
